  .product-form{
      width: 20rem;
      max-width: 90%;
      margin:auto;
  }
  .form-control{
      margin:1rem 0;
  }
  .form-control label,
  .form-control input{
      display:block;
      width:100%;
  }
  .form-control input{
      border: 1px solid rgb(136, 233, 26);
      font:inherit;
      border-radius: 2px;
  }
  button{
      font:inherit;
      border:1px solid rgb(146, 14, 14);
      background: white;
      border-radius: 3px;
      color:rgb(146, 14, 14);
      cursor: pointer;
  }
  button:hover,
  buttom:active{
      color:white;
      background-color: rgb(146, 14, 14);
  }